{% extends 'base.html' %}
{% block content %}
 <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Marbella gucci</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Your Own Brand</p>
                </div>
            </div>
        </header>
    <br><br>
<div class = "container">
<div class = "row">
    <center>
        <div class="col-10">
            <p align="justify">
                Founded in Florence, Italy, in 1921, Gucci is one of the world’s leading luxury brands. Following the House’s centenary, Gucci forges ahead continuing to redefine luxury while celebrating creativity, Italian craftsmanship, and innovation.


Gucci is part of the global luxury group Kering, which manages renowned Houses in fashion, leather goods, jewelry, and eyewear.


Discover the stories behind the House's collections, exclusively on Stories.
            </p>
        </div>
    </center>
</div>
</div>
    <br><br><br><br>
{% endblock %}