{% extends 'base2.html' %}
{% load static %}
{% load humanize %}

{% block  content %}


<main class="main demo2-cls">
    <div class="page-content">
        <div class="container">
            <section class="intro-section">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="owl-carousel owl-theme row owl-dot-inner owl-dot-white intro-slider animation-slider cols-1 gutter-no ltr"
                             data-owl-options="{
                            'nav': false,
                            'dots': true,
                            'loop': true,
                            'items': 1,
                            'autoplay': false
                        }">
                            <div class="banner banner-fixed intro-slide1 content-center content-middle"
                                 style="background-color: #444342;">
                                <figure>
                                    <img src="{% static "images/demos/demo2/slides/1.jpg" %}" alt="intro-banner" width="1180"
                                         height="600" style="background-color: #444342;" />
                                </figure>
                                <div class="banner-content rtl">
                                    <h4 class="banner-subtitle font-weight-semi-bold text-white ls-normal lh-1 mb-0 text-uppercase text-center slide-animate"
                                        data-animation-options="{'name': 'fadeInRightShorter', 'duration': '1.2s', 'delay': '.3s'}">
                                       کالکشن مردانه
                                    </h4>
                                    <h2 class="banner-title text-uppercase text-white slide-animate"
                                        data-animation-options="{'name': 'fadeInRightShorter', 'duration': '1.2s', 'delay': '.3s'}">
                                        ست کامل
                                    </h2>
                                    <h5 class="font-weight-normal text-white lh-1 ls-normal text-left  mb-1 slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1s', 'delay': '1s'}">
                                       شروع قیمت ها از  <span class="text-secondary font-weight-bold"> 1,200,000 تومان </span>
                                    </h5>
                                </div>
                            </div>
                            <div class="intro-slide2 banner banner-fixed">
                                <figure>
                                    <img src="{% static "images/demos/demo2/slides/2.jpg" %}" alt="banner" width="1180"
                                         height="600" style="background-color: #686868" />
                                </figure>
                                <div class="banner-content y-50 text-right rtl">
                                    <h4 class="banner-subtitle font-weight-normal text-right lh-1 ls-m slide-animate"
                                        data-animation-options="{'name': 'fadeInDownShorter', 'duration': '1.2s', 'delay': '.5s'}">
                                        مجموعه لایف استایل 
                                    </h4>
                                    <h3 class="banner-title ls-l text-white text-uppercase text-right  font-weight-bold lh-1 slide-animate"
                                        data-animation-options="{'name': 'blurIn', 'duration': '1.4s', 'delay': '.1s'}">
                                      برای بانوان
                                    </h3>
                                    <h5 class="font-weight-normal text-white text-uppercase text-right  lh-1 ls-m mb-1 slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1s', 'delay': '.7s'}">
                                        این هفته <span class="text-secondary font-weight-bold">30% تخفیف</span>
                                    </h5>
                                    <p class="font-weight-normal ls-s mb-7 text-right  slide-animate"
                                       data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1s', 'delay': '.9s'}">
                                        ارسال و مرجوعی رایگان برای خرید ست کامل
                                    </p>
                                    <a href="demo2-shop.html" class="btn btn-white btn-rounded slide-animate"
                                       data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1.2s', 'delay': '1.1s'}">
                                         مشاهده و انتخاب
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="banner banner-fixed overlay-zoom intro-banner intro-banner1 content-middle appear-animate"
                             data-animation-options="{
                            'name': 'fadeInUpShorter',
                            'delay': '.3s'
                        }">
                            <figure>
                                <img src="{% static "images/demos/demo2/banners/1.jpg" %}" width="580" height="249"
                                     alt="banner" style="background-color: #eca5a9;" />
                            </figure>
                            <div class="banner-content text-right">
                                <h4 class="banner-subtitle ls-normal text-white text-uppercase font-weight-normal lh-1">
                                    جدیدترین ها
                                </h4>
                                <h3 class="banner-title text-white font-weight-bold ls-md">
                                   لباس های بافت
                                </h3>
                                <a href="demo2-shop.html"
                                   class="btn btn-white btn-link btn-underline font-weight-semi-bold"><i class="d-icon-arrow-left"></i>
                                     مشاهده و انتخاب
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="banner banner-fixed overlay-zoom intro-banner intro-banner2 content-middle appear-animate"
                             data-animation-options="{
                            'name': 'fadeInUpShorter',
                            'delay': '.5s'
                        }">
                            <figure>
                                <img src="{% static "images/demos/demo2/banners/2.jpg" %}" width="580" height="249"
                                     alt="banner" style="background-color: #494442;" />
                            </figure>
                            <div class="banner-content text-right">
                                <h4 class="banner-subtitle ls-normal text-white text-uppercase font-weight-normal lh-1">
                                    ترند ها
                                </h4>
                                <h3 class="banner-title text-white font-weight-bold ls-md">
                                    کتونی اسپورت 
                                </h3>
                                <a href="demo2-shop.html"
                                   class="btn btn-white btn-link btn-underline btn-white font-weight-semi-bold"><i class="d-icon-arrow-left"></i>
                                     مشاهده و انتخاب
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="mt-10 pt-3 mb-6 rtl text-right">
                <h2 class="title title-simple title-center ls-m">محصولات </h2>

                <div class="product-wrapper row">
                    {% for product in products  %}
                    <div class="col-lg-3 col-md-4 col-6 mb-4">
                        <div class="product appear-animate" data-animation-options="{
                            'name': 'fadeInLeftShorter',
                            'delay': '.4s'}">

                            <figure class="product-media">
                                {% if product.id == 2 %}
                                <a href="{% url "detailsneaker" product.id %}">
                                    <img src="{{ product.productimage.url }}" alt="لباس جین آبی"
                                         width="280" height="315" style="background-color: #f2f3f5;" />
                                </a>
                                {% endif %}
                                
                                {% if product.id == 3 %}
                                <a href="{% url "detailtshirt" product.id %}">
                                    <img src="{{ product.productimage.url }}" alt="لباس جین آبی"
                                         width="280" height="315" style="background-color: #f2f3f5;" />
                                </a>
                                {% endif %}

                                {% if product.id == 6 %}
                                <a href="{% url "detailwatch" product.id %}">
                                    <img src="{{ product.productimage.url }}" alt="لباس جین آبی"
                                         width="280" height="315" style="background-color: #f2f3f5;" />
                                </a>
                                {% endif %}

                                {% if product.id == 9 %}
                                <a href="{% url "detailsock" product.id %}">
                                    <img src="{{ product.productimage.url }}" alt="لباس جین آبی"
                                         width="280" height="315" style="background-color: #f2f3f5;" />
                                </a>
                                {% endif %}


                                <div class="product-label-group">
                                    <label class="product-label label-new">جدید</label>
                                </div>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                       data-target="#addCartModal" title="اضافه به خرید">
                                        <i class="d-icon-bag"></i>
                                    </a>
                                    <a href="#" class="btn-product-icon btn-wishlist" title="اضافه به علاقه مندی">
                                        <i class="d-icon-heart"></i>
                                    </a>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="btn-product" title="نمایش ">
                                    نمایش 
                                    </a>
                                </div>
                            </figure>
                            <div class="product-details rtl">
                                <div class="product-cat">
                                    <a href="demo2-shop.html">{{ product.category_id }}</a>
                                </div>
                                <h3 class="product-name">
                                    <a href="demo2-product.html">{{ product.productname }}</a>
                                </h3>
                                <div class="product-price">
                                    <span class="price"> {{ product.price }} تومان </span>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:100%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a href="demo2-product.html" class="rating-reviews">( از 27 نظر )</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    

                    

                </div>
            </section>


            

                    <div class="col-1 grid-space"></div>
                </div>
            </section>

            <section class="mt-10 pt-3 mb-6 rtl text-right">
                <h2 class="title title-simple title-center ls-m">دسته بندی ها</h2>

                <div class="product-wrapper row">

                    {% for item in categories %}
                    
                    <div class="col-lg-3 col-md-4 col-6 mb-4">
                        <div class="product appear-animate" data-animation-options="{
                            'name': 'fadeInLeftShorter',
                            'delay': '.4s'}">

                            <figure class="product-media">
                                {% if item.id == 1 %}
                                <a href="{% url "bag" %}">
                                    <img src="{{ item.image.url }}" alt="لباس جین آبی"
                                    width="280" height="315" style="background-color: #f2f3f5;" />
                                </a>
                                {% endif %}

                                {% if item.id == 2 %}
                                <a href="{% url "sneaker" %}">
                                    <img src="{{ item.image.url }}" alt="لباس جین آبی"
                                    width="280" height="315" style="background-color: #f2f3f5;" />
                                </a>
                                {% endif %}

                                {% if item.id == 3 %}

                                <a href="{% url "pant" %}">
                                    <img src="{{ item.image.url }}" alt="لباس جین آبی"
                                    width="280" height="315" style="background-color: #f2f3f5;" />
                                </a>

                                {% endif %}

                                {% if item.id == 4 %}

                                <a href="{% url "tshirt" %}">
                                    <img src="{{ item.image.url }}" alt="لباس جین آبی"
                                    width="280" height="315" style="background-color: #f2f3f5;" />
                                </a>

                                {% endif %}

                                {% if item.id == 5 %}

                                <a href="{% url "watch" %}">
                                    <img src="{{ item.image.url }}" alt="لباس جین آبی"
                                    width="280" height="315" style="background-color: #f2f3f5;" />
                                </a>

                                {% endif %}

                                
                                {% if item.id == 6 %}

                                <a href="{% url "sock" %}">
                                    <img src="{{ item.image.url }}" alt="لباس جین آبی"
                                    width="280" height="315" style="background-color: #f2f3f5;" />
                                </a>

                                {% endif %}

                                {% if item.id == 7 %}

                                <a href="{% url "odclon" %}">
                                    <img src="{{ item.image.url }}" alt="لباس جین آبی"
                                    width="280" height="315" style="background-color: #f2f3f5;" />
                                </a>

                                {% endif %}

                                {% if item.id == 8 %}

                                <a href="{% url "jacket" %}">
                                    <img src="{{ item.image.url }}" alt="لباس جین آبی"
                                    width="280" height="315" style="background-color: #f2f3f5;" />
                                </a>

                                {% endif %}

                                <div class="product-label-group">
                                    <label class="product-label label-new">جدید</label>
                                </div>
                                <div class="product-action-vertical">
                                    
                                    <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                       data-target="#addCartModal" title="اضافه به خرید">
                                        <i class="d-icon-bag"></i>
                                    </a>
                                    <a href="#" class="btn-product-icon btn-wishlist" title="اضافه به علاقه مندی">
                                        <i class="d-icon-heart"></i>
                                    </a>
                                </div>
                                <div class="product-action">
                                    {% if item.id == 1 %}

                                    

                                    <a href="{% url "bag" %}" class="btn-product" title="نمایش ">
                                        نمایش 
                                        </a>
                                    {% endif %}

                                    {% if item.id == 2 %}
                                    <a href="{% url "sneaker" %}" class="btn-product" title="نمایش ">
                                        نمایش 
                                        </a>
                                    {% endif %}
                                    
                                    {% if item.id == 3 %}
                                    <a href="{% url "pant" %}" class="btn-product" title="نمایش ">
                                        نمایش 
                                        </a>
                                    {% endif %}

                                    {% if item.id == 4 %}
                                    <a href="{% url "tshirt" %}" class="btn-product" title="نمایش ">
                                        نمایش 
                                        </a>
                                    {% endif %}

                                    {% if item.id == 5 %}
                                    <a href="{% url "watch" %}" class="btn-product" title="نمایش ">
                                        نمایش 
                                        </a>
                                    {% endif %}

                                    {% if item.id == 6 %}
                                    <a href="{% url "sock" %}" class="btn-product" title="نمایش ">
                                        نمایش 
                                        </a>
                                    {% endif %}

                                    {% if item.id == 7 %}
                                    <a href="{% url "odclon" %}" class="btn-product " title="نمایش ">
                                        نمایش 
                                        </a>
                                    {% endif %}

                                    {% if item.id == 8 %}
                                    
                                    <a href="{% url "jacket" %}" class="btn-product" title="نمایش ">
                                        نمایش 
                                        </a>

                                    {% endif %}
                                </div>
                            </figure>
                            <div class="product-details rtl">
                                <div class="product-cat">
                                    <a href="demo2-shop.html">{{ item.name }}</a>
                                </div>
                                <h3 class="product-name">
                                    <a href="demo2-product.html">گردنبد طبی زنانه </a>
                                </h3>
                                
                                <div class="ratings-container">
                                    
                                    <a href="demo2-product.html" class="rating-reviews">( از 27 نظر )</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                    

                    

                    

                </div>
            </section>            

            <section class="banner banner-sale mt-10 mb-10 appear-animate rtl text-right"
                     data-animation-options="{'name': 'fadeIn'}"
                     style="background-image: url('{% static "images/demos/demo2/banners/3.jpg" %}'); background-color: #1f272b;">
                <div class="banner-content appear-animate"
                     data-animation-options="{'name': 'fadeInUpShorter','duration': '1s'}">
                    <h4 class="banner-subtitle text-uppercase text-white font-weight-normal lh-1 ls-m mb-0">
                        فروش پایان 
                    </h4>
                    <hr class="divider mb-2">
                    <h3 class="banner-title text-uppercase text-white lh-1 mb-0"> فصل </h3>
                    <div class="price-rotated">
                        <div class="banner-price-info d-flex align-items-center justify-content-center skrollr"
                             data-options='{"data-bottom-top":"transform: translate(0, 0) scale(1.6); transform-origin: center;", "data-center":"transform: translate(0, 0) scale(1);"}'
                             data-animation-options="{'name': 'fadeIn', 'duration': '1.2s', 'delay': '.2s'}">
                            <h5 class=" text-white ls-l mb-0">
                               بیش از <br><span class="text-secondary ls-l">%50</span> تخفیف
                            </h5>
                        </div>
                    </div>
                </div>
            </section>

            

            <section class="service-list mt-10 rtl text-right">
                <div class="owl-carousel owl-theme row cols-lg-4 cols-md-3 cols-sm-2 cols-1" data-owl-options="{
                     'rtl':true,
                    'items': 4,
                    'nav': false,
                    'dots': false,
                    'autoplay': true,
                    'autoplayTimeout': 7000,
                    'margin': 20,
                    'responsive': {
                        '0': {
                            'items': 1
                        },
                        '576': {
                            'items': 2
                        },
                        '768': {
                            'items': 3
                        },
                        '992': {
                            'items': 4,
                            'autoplay': false
                        }
                    }
                }">
                    <div class="icon-box appear-animate" data-animation-options="{
                        'name': 'fadeInRightShorter',
                        'delay': '.2s'
                    }">
                        <div class="icon-box-content rtl">
                            <h3 class="icon-box-title font-weight-bold text-capitalize ls-normal mb-0">
                              ارسال رایگان
                            </h3>
                            <p class="text-primary">به تمامی نقاط کشور</p>
                        </div>
                    </div>
                    <div class="icon-box appear-animate" data-animation-options="{
                        'name': 'fadeInRightShorter',
                        'delay': '.3s'
                    }">
                        <div class="icon-box-content rtl">
                            <h3 class="icon-box-title font-weight-bold text-capitalize ls-normal mb-0">
                                پیگیری تحویل
                            </h3>
                            <p class="text-primary">به شما گزارش میشود </p>
                        </div>
                    </div>
                    <div class="icon-box appear-animate" data-animation-options="{
                        'name': 'fadeInRightShorter',
                        'delay': '.4s'
                    }">
                        <div class="icon-box-content rtl">
                            <h3 class="icon-box-title font-weight-bold text-capitalize ls-normal mb-0">
                               تخفیف
                            </h3>
                            <p class="text-primary">مشاهده و انتخاب بیش از دو کالا</p>
                        </div>
                    </div>
                    <div class="icon-box appear-animate" data-animation-options="{
                        'name': 'fadeInRightShorter',
                        'delay': '.5s'
                    }">
                        <div class="icon-box-content rtl">
                            <h3 class="icon-box-title font-weight-bold text-capitalize ls-normal mb-0">
                              مرجوعی
                            </h3>
                            <p class="text-primary"> تا 3 روز بعد از تحویل</p>
                        </div>
                    </div>
                </div>
            </section>

            
                </div>
            </section>
        </div>
    </div>
</main>
<!-- End of Main -->


{% endblock %}

